{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{% static 'css/restablecer.passwd.css'  %}" rel="stylesheet">
    <title>Labsol Academy - Restablecer contraseña</title>
</head>
<body>

    <div class="container">
        <div class="centered-div" style="text-align: center;">
            <h2>Cambio de contraseña</h2>
            <p>Ingresa a tu correo electrónico y sigue las instrucciones para restablecer tu contraseña.</p>
        </div>
    </div>

</body>
</html>