<div class="modal modal-blur fade" id="videollamada" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nueva conferencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{% url direccion_url %}" >
        {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Título:</label>
            {{ forms.titulo }}
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción:</label>
            {{ forms.descripcion }}
          </div>

          <div class="mb-3">
            <label class="form-label">Instructor:</label>
            {{ forms.instructor}}
          </div>
          <input type="hidden" value="{{videollamada.id}}" name="videollamada_id" id="videollamada_id">


          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Fecha de realización</label>
                {{ forms.fecha_reunion }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Hora: de realización</label>
                {{ forms.hora }}
              </div>
            </div>
          </div>
          {% if videollamada %}
            <div class="mb-3">
              <label class="form-label">Video:</label>
              {{ forms.video }}
            </div>
          {% endif %}
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Miniatura:</label>
                {{ forms.miniatura }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Archivo PDF</label>
                {{ forms.archivo }}
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Enlace:</label>
            {{ forms.enlace }}
          </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal"  >Cancelar</a>
          <button class="btn btn-primary ms-auto" type="submit"  id="btnFreeze">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
