<div class="modal modal-blur fade" id="subir_video" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Subir vídeo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" enctype="multipart/form-data" action="{% url 'videollamada:subir_video' %}" >
        {% csrf_token %}
        <div class="modal-body">
          <input type="hidden" name="videollamada_llave" id="videollamada_llave">
          <div class="mb-3">
            <label class="form-label">Vídeo:</label>
            <input type="file" name="video" id="video" class="form-control" required>
          </div>
        </div>

        <div class="modal-footer">
          <a class="btn btn-link link-secondary btn-outline-info" data-bs-dismiss="modal" >Cancelar</a>
          <button class="btn btn-primary ms-auto" type="submit" id="btnFreeze" >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



