media/icon_etiqueta/*
media/miniatura/*
media/videos/*
media/videollamada/*
media/perfil/*
media/miniaturas/*
media/pdfs/*

api_clase_curso/__pycache__/
app/__pycache__/
clase/__pycache__/
examen/__pycache__/
curso/__pycache__/
notificacion/__pycache__/
usuario/__pycache__/
videollamada/__pycache__

curso/migrations/*
clase/migrations/
examen/migrations/
notificacion/migrations/
usuario/migrations/
videollamada/migrations/

mydatabase