<script>
  document.getElementById("form-clase").addEventListener("submit", function(event) {
  event.preventDefault();
  var formData = new FormData(event.target);
  fetch("{% url 'clase:editar_clase' %}", {
    method: "POST",
    body: formData
  })
  .then(function(response) {
    return response.json();
  })
  .then(function(data) {
    if (data.success) {
    document.getElementById("modal-clase").hidden = true;
    document.getElementById("form-clase").reset();
    location.reload();
    } else {
      // Mostramos errores relacionados con la compresión de video
      if(data.error){ // Hay un error de comprensión de video.
          document.getElementById("div_error_video_comp").hidden = false;
          document.getElementById("error_video_comp").textContent = data.error
        }
        
        for (var field in data.errors) {
          var error = data.errors[field];
          var input = document.getElementById('id_'+field);
          input.classList.add("error");
          input.nextSibling.textContent = error;
        }
    }
  });
});
</script>


