<div class="modal modal-blur fade" id="notificacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enviar Aviso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="card-body">
          <div id="error-container" class="mb-3 text-danger"></div>
          <form  id="form-notificacion" data-curso="{{curso.id}}">

            <!-- DIV para mostrar errores  -->
            <div id="div_error" class="alert alert-danger" hidden>
              <p id="error"></p>
            </div>
            <!-- FIN DEL DIV --> 

              {% csrf_token %}

              <div class="mb-3">
                <label class="form-label">Asunto:</label>
                {{ form_notificacion.asunto }}
              </div>

              {% if request.user.is_superuser or request.user.user_type == 'admin' %}
              <div class="mb-3">
                <label class="form-label">Usuarios:</label>
                <select name="tipo_usuario" id="tipo_usuario" class="form-control">
                  <option>Seleccionar usuarios</option>
                  <option value="Todos">Todos</option>
                  {% if request.user.is_superuser %}
                  <option value="admin">Administradores</option>
                  {% endif %}
                  <option value="instructor">Instructores</option>
                  <option value="estudiante">Estudiantes</option>
                </select>
              </div>
              {% elif request.user.user_type == 'instructor' %}
              <input type="hidden" name="tipo_usuario" id="tipo_usuario" value="estudiante">
              {% endif %}

              <div class="mb-3">
                <label class="form-label">Descripción:</label>
                {{ form_notificacion.descripcion }}
              </div>

              <input type="hidden" id="creador" name="creador" value='{{request.user.id}}' hidden>

              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  