<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conferencia</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <a>El video de la conferencia {{videollamada}}, ya está disponible para que vayas a verlo.</a>
    </div>
</body>
</html>
