{% load static %}
{% if messages %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-12">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div id="mensaje_temporal" class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "info" %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "warning" %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/display_etiquetas.js' %}"></script>

{% endif %}