<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Labsol Academy</title>

</head>
<!-- body -->
<body>
    <div style="width: 100%; float: left; background-color: #2F3659;
    height: auto; padding-top: 20px; padding-bottom: 16px; background-size: cover;">
        <div style="width: 100%; float: left; margin: 0 auto; text-align: center;">
            <h1 style="font-size: 46pt; color: #ffffff; padding-top: 10px; font-family: 'Raleway', sans-serif;">Bienvenido a<br>
            <span style="color: #10b5fa">LABSOL ACADEMY</span></h1>
            <p style="font-size: 14pt; color: #ffffff; padding-bottom: 10px; margin: 20px; font-weight: 400; line-height: 24px;" > Un administrador del sistema ha validado tú cuenta.</p>
        </div>
    </div>
<!--banner end -->
    <!--services start -->
    <div class="">
        <div style="width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; max-width: 540px; min-width: 992px;">
            <div style="width: 100%; float: left; background-color: #ffffff; height: auto; padding-bottom: 30px;padding-top: 30px; box-shadow: 0px 0px 10px 0px; color: #e7e7e7; margin-top: -110px; margin-bottom: 50px;">
                <h1 style="color: #050000; font-size: 22pt;border-bottom: 1px solid #000; width: 46%; margin: 0 auto; text-align: center; font-weight: bold; letter-spacing: 0; position: relative; padding: 0 0 10px 0; line-height: normal; font-family: inherit; box-sizing: border-box !important;transition: ease all 0.5s;">A partir de este momento tienes acceso al sistema</h1>
                <p style="color: #050000; text-align: justify; margin: 20px; font-weight: 400; font-size: 18px;line-height: 24px;">Instructor de Labsol Academy, te damos una cálida bienvenida a nuestra plataforma educativa. Tu papel es fundamental en la formación de nuestros alumnos. Como instructor, tendrás la oportunidad de compartir tus conocimientos y experiencia enriqueciendo la experiencia de aprendizaje de cada estudiante. <br>

                    Tu dedicación y pasión contribuirán al crecimiento académico de nuestros alumnos. Tendrás la libertad de diseñar cursos atractivos y desafiantes que inspiren el aprendizaje activo y promuevan la adquisición de nuevas habilidades. <br>

                    Te agradecemos por unirte a Labsol Academy como instructor y estamos emocionados de ver cómo tus contribuciones transforman las vidas de nuestros estudiantes. ¡Bienvenido al equipo! <br>
                </p>
                <div style="width: 40%; display: block; margin: 0 auto; text-align: center; ">
                    <button type="button" style=" padding: 0.5rem 1rem; font-size: 1.25rem; line-height: 1.5;border-radius: 0.3rem; color: #fff; background-color: #343a40; border-color: #343a40; ">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>		    
</body>
</html>